{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-9 main">

            {{ parent() }}

            {% block content %}{% endblock %}

        </div>
    </div>
    <div class="col-sm-2 col-sm-offset-1 sidebar">
        {% block sidebar %}{% endblock %}
    </div>
{% endblock %}