{% extends "::base.html.twig" %}

{% block title %}Route: Nürnberg - Thon{% endblock %}

{% block body %}
    <div class="route">
        <div class="container" style="margin-top: 20px">

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1>Route - Nürnberg Thon</h1>
                <p><strong>Zeit:</strong> Samstag vormittag, zwischen 09:00 - 14:00 Uhr</p>
                <p><strong>Einsatz:</strong> Maximal 2 Personen (v. d. Trolley-Liste); 1 Trolley: Beschriftung "Vers. Thon" im Trolley-Keller neben Küche, vom <mark>Saal</mark> mit akt. Literatur bestücken.</p>
                <p><strong>Dauer:</strong> 2 - 3 Stunden</p>
                <p><strong>Beachten:</strong> Keine Schaufenster und Fußgängerwege verstellen. max 10 Min. an einer Stelle. Immer eine Hand am Trolley lassen. Die Route kann in beliebiger Reihenfolge abgelaufen werden.</p>

            </div>

        </div>
        <div class="container">
            <h2>Route</h2>
            <dl>
                <dt>Start:</dt>
                <dd>KR-Saal Vestnertorgraben 13</dd>

                <dt>Friedrich-Ebert-Platz:</dt>
                <dd>(Westseite) - mögliche Stellplätze <br/>
                    ab Bucher-Str. 39 <strong>neben(!)</strong>: Friseur - DM Drogerie - Döner Laden - Eisladen - FOTO HAAG - FLESSA-Bank - MEDICON-Apotheke - HYPO-Bank - SPARDA-Bank - U-Bahn-Eingang - Fußgängerinsel
                </dd>

                <dt>Kirchenweg:</dt>
                <dd>REWE-Markt - neben Fahrradständer</dd>

                <dt>Adam-Kraft-Str.:</dt>
                <dd>Ecke Postamt</dd>

                <dt>Palm-Platz:</dt>
                <dd>Bei Rundbänken (Samstags Markt bis 12:00Uhr): NICHT vor der Kirche!</dd>

                <dt>Johannisstr.:</dt>
                <dd>Kreuzung Brückenstraße bzw. Poppenreuther-Str., gegenüber BACKBUDE - ROSSMANN - NORMA - KIK</dd>

                <dt>(Fortsetzung: Erweiterte Route, -ca. 1 Stunde: s.u.)*</dt>

                <dt>Brückenstrasse</dt>
                <dd>REWE-Markt</dd>

                <dt>Johannisstr.:</dt>
                <dd>Ecke Innere Hallerstraße, St. Johannis-Apotheke, NETTO-Markt</dd>

                <dt>Ende:</dt>
                <dd>KR-Saal Vestnertorgraben 13</dd>

                <dt style="margin-top: 4em">* Erweiterte Route (ca. 1 Stunde):</dt>
                <dd>Von KIK / Johannisstr. - weiter REWE-Markt/NW-Ring - Haupteingang Westfriedhof - Westbad (im Sommer) - Fortsetzung Grückenstrasse</dd>
            </dl>
        </div>
    </div>
{% endblock %}
